.square {
  display: inline-flexbox;
  width: 10em;
  height: 10em;
  margin: 3px;
  background-color:rgb(61, 151, 151);
  text-align: center;
}

.squareContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.letter {
  font-size: 8em;
  color: white;
}

.game {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.result {
  color: tomato;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.btn {
  display: inline-flexbox;
  background-color: orangered;
  width: 6em;
  height: 3em;
  color: whitesmoke;
  text-align: center;
}